<%- include('../partials/header') %>

<div class="container">
    <h2>Request Show </h2>
    <br>
    <h2 id="noRequestHeader" class="hidden">You currently have no Active Request </h2>

    <span id="requestID"></span>
    <input type="text" class="hidden" value="<%=currentUser.kind%>" id="userKind"/>
    <input type="text" class="hidden" value="<%=currentUser._id%>" id="userID"/>
    <input type="text" class="hidden" value="<%=request%>" id="requestID"/>
 

    <div id="request-div" class="container hidden">
        <ul class="list-unstyled" >
            <span>Buyer Info</span>
            <li>
                <div class="container border border-primary rounded">
                    <div id="buyerID" ></div>
                    </div>
            </li>
            <br>
            <span>Vehicle Basic Info</span>
            <li>
                <div class="container border border-primary rounded">
                    <div id="vehicleMake" ></div>
                    <div id="vehicleModel" ></div>
                    <div id="vehicleYear" ></div>
                    <div id="vehicleMSRP" ></div>
                </div>
            </li>
            <button id="vehicle-detail-btn"class="btn btn-primary" data-bs-toggle="collapse"
            data-bs-target="#vehicle-detail" aria-expanded="false" aria-controls="vehicle-detail">Vehicle Details</button>
            <div class="collapse border border-primary rounded " id="vehicle-detail">
              <div class="card" id="modelDetails">
                <ul class="list-group" id="details">
                  <li class="list-group-item" id="trim" >
                    <strong>Trim:</strong>
                  </li>
                </ul>
                </div> 
            </div>

            <br>
            <span>Payment Terms</span>
            <li>
                <div class="container border border-primary rounded">
                    <div id="purchaseType" ></div>
                    <div id="downPayment" ></div>
                    <div id="numberOfMonths" ></div> 
                    <div id="leaseTerm" ></div>
                    <div id="annualMileage" ></div>
                    </div>
            </li>
            <br>
            <span>Offer Status</span>
            <li>
                <div class="container border border-primary rounded">
                    <div id="status" ></div>
                    <div id="offers" >Number of Offers:</div> 
                    </div>
            </li>
        </ul>
    </div>
    <div id="offer-div" class="container hidden">
      <button id="offer_select"class="btn btn-primary" data-bs-toggle="collapse"
      data-bs-target="#offer-div" aria-expanded="false" aria-controls="offer-div">All Offers</button>
      <div class="collapse border border-primary rounded " id="offer-div">
              <table class="table bootstrap-table bootstrap4" id="offer-table">   
                  </table>  
      </div>
  </div> 
  <br> 
  <!-- Form to hold cancel request json -->
  <div id="cancel-div" class="container hidden">
    <form action="/requests/<%=request%>?_method=PUT" method="POST" id="cancel-request-form" >               
      </form>
  </div>
  <!-- Form to hold delete request json -->
  <div id="delete-div" class="container hidden">
    <form action="/requests/<%=request%>?_method=DELETE" method="POST" id="delete-request-form" >               
      </form>
  </div>

  <div class="btn-toolbar hidden">
    <button id="cancel-request-btn" class="btn btn-primary hidden" >Cancel</button>
    <button id="delete-request-btn" class="btn btn-danger hidden" >DELETE REQUEST</button>
  </div>


    <div id="inv-div" class="container hidden">
        <button id="inv_select"class="btn btn-primary" data-bs-toggle="collapse"
        data-bs-target="#dealer-inv" aria-expanded="false" aria-controls="dealer-inv">View Inventory</button>
        <div class="collapse border border-primary rounded " id="dealer-inv">
                <table class="table bootstrap-table bootstrap4" id="dealer-inv-table">   
                    </table>  
        </div>
    </div>  
      <!--Error Modal  -->  
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">ERROR</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="errorMessage"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!--Cancel Modal  --> 
      <div class="modal" id ="cancelModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="cancelMessage">Are you sure you want to CANCEL this Request?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="confirm-cancel-btn">YES</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
            </div>
          </div>
        </div>
      </div>

      <!--Delete Modal  -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">WARNING</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="deletelMessage">Are you sure you want to DELETE this Offer?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
              <button type="button" class="btn btn-primary" id="confirm-delete-btn">YES</button>
            </div>
          </div>
        </div>
      </div>      


<!--Add script file   -->
<script type="text/javascript"  src="/requestScripts/requestShow.js"></script>  



